@import "tailwindcss";

:root {
  font-family: Avenir-Roman, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: #c4c4c4 #f7f7f7b0;
  transition: all ease 0.2s;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4 {
  font-size: 1em;
  margin: 1.12em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}

h6 {
  font-size: 0.67em;
  margin: 1.67em 0;
}

/* For the WYSISYG */
ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

strong, b {
  font-family: var(--font-avenir-black);
}

em, i{
  font-family: var(--font-avenir-roman-oblique);

}


/* Color Themes */
@theme {
  --color-primary: #0097b2;
  --color-secondary: #bfd1a0;
  --color-secondarydark: #4FAFAB;
  --color-tertiary: #ECF1E3;
  --color-dark: #1a0202;
  --color-light: #ffffff;
  --color-accent-1: #eee3e3;
  --color-accent-2: #4a6e73;
  --font-avenir-black: Avenir-Black, "sans-serif";
  --font-avenir-black-oblique: Avenir-BlackOblique, "sans-serif";
  --font-avenir-roman: Avenir-Roman, "sans-serif";
  --font-avenir-roman-oblique: Avenir-RomanOblique, "sans-serif";
  --font-sansita-black: SansitaSwashed-Black, "sans-serif";
  --font-sansita-bold: SansitaSwashed-Bold, "sans-serif";
  --font-sansita-regular: SansitaSwashed-Regular, "sans-serif";
  --font-sansita-extra-bold: SansitaSwashed-ExtraBold, "sans-serif";
  --font-sansita-light: SansitaSwashed-Light, "sans-serif";
  --font-sansita-medium: SansitaSwashed-Medium, "sans-serif";
  --font-sansita-semi-bold: SansitaSwashed-SemiBold, "sans-serif";
}

.btn-primary {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.btn-primary:hover {
  background-color: #007a8e;
  transition: background-color 0.2s ease-in;
}

.btn-light {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-light);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-primary);
}

.btn-light:hover {
  background-color: rgba(213, 212, 212, 0.984);
  transition: background-color 0.2s ease-in;
}

.btn-dark {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-dark);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.sunday .fc-daygrid-day-number,
.saturday .fc-daygrid-day-number {
  color: #ff7575;
}

.fc-daygrid-day-frame {
  border: none !important;
}

.no-underline {
  text-decoration: none;
}

/* Swiper Theme */
.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* Change arrow color */
  background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent background */
  border-radius: 50% !important;
  width: 42px !important;
  height: 42px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}

/* Modify the default Swiper arrows */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important; /* Adjust arrow size */
  width: 15px !important;
  height: 15px !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after {
  content: "➤" !important; /* Custom arrow for next button */
}

.swiper-button-prev::after {
  content: "➤" !important; /* Custom arrow */
  transform: rotate(180deg); /* Flip the arrow for previous */
}
